body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid h1 {
 background-color: black;
 color: chocolate;
}

.main {
  width: 100vw;
  justify-content: center;
  padding: 0;
}

.circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(rgba(176, 230, 51, 0.5), rgba(83, 239, 125, 0.5));

  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%,-50%);
 
}

.my_card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 1px 12px wheat;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 300px;

}

@keyframes move-up {
  from{
    transform: scale(0.9);
  }
  to {
      transform: scale(1);
  }
}

.single_image_container{
  height: 400px;
  width: 300px;
}

.image_container {
  height: 300px;
  width: 200px;
  animation: move-up 2s ease-in infinite alternate-reverse;
}

.image_container img, .single_image_container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn {
  color: chocolate;
  outline: none;
  background: #1a1d1a;
  border: none;
}

a .btn, .card-body a, .btn:active  {
  text-decoration: none;
  background: radial-gradient(rgba(10, 10, 10, 0.5), rgba(83, 239, 125, 0.1));
  border-bottom: 1px solid chocolate;
  color: radial-gradient(#b0e633, #53ef7d);
	border: none;
	padding: 10px;
	outline: none;
	margin-top: 30px;
	margin-left: 10px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

 .btn:hover, .card-body a:hover {
  color: chartreuse;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
      background: #1a1d1a;
}

/*
Loader styles
*/
.loader_container {
  height: 100vh;
  width: 100vw;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  
}

.progress-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: wheat;
  transform-origin: 0%;
}

  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
